#child {
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#child2 {
    background-color: rgb(255, 136, 0);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}